<div class="card mb-3 m-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./images/linda13.png" class="img-fluid rounded-circle p-4" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ipsam, laudantium earum nulla recusandae placeat aspernatur id quo maiores quas eos. Excepturi nisi, ipsam recusandae dolor reprehenderit accusantium. Exercitationem officiis natus atque laboriosam, beatae cupiditate autem iure est inventore molestiae sit rerum provident magnam, accusamus quasi porro facilis accusantium adipisci totam! Provident eveniet fuga dolores vel cumque suscipit quibusdam libero..</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga animi numquam ullam dicta autem suscipit. Pariatur provident magnam iusto quos modi similique consequatur. Quos facilis iusto maiores fugit quisquam itaque blanditiis dolorum voluptatem explicabo fuga facere, amet neque beatae, velit nam mollitia animi incidunt aliquam. Aperiam eaque quidem, minus deserunt suscipit ea officia adipisci quam quasi dolorum expedita pariatur repellendus, ullam ipsam exercitationem alias recusandae error sed esse? Enim non, nesciunt maiores corrupti quis facilis tenetur esse voluptas, cupiditate repellat a omnis nobis hic voluptates. Reprehenderit.</p>
      </div>
    </div>
  </div>
</div>