<div class="card mb-3 w-100 mt-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./images/linda5.PNG" class="img-fluid rounded-circle p-3" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae expedita voluptatibus, fugiat a repellat dolorum rem! Nulla delectus aut, provident qui facere soluta fuga enim, sit consectetur excepturi assumenda quia odit! Consectetur ab eveniet aperiam nemo exercitationem id. Iure debitis libero ipsam numquam. Porro eum nostrum fuga quisquam cupiditate veritatis incidunt sit expedita, error quam quo aliquam voluptatem dignissimos reiciendis ullam temporibus rerum assumenda magni nihil. Illum dicta laborum iusto numquam quam sed, voluptatem libero! Dicta modi totam molestiae, explicabo repellat consequuntur rem molestias, optio dolor commodi nobis assumenda quibusdam tempore similique, soluta perspiciatis eligendi vitae. Suscipit nam porro est tempore dolores quidem in. Beatae, mollitia iusto eligendi voluptatum quas ut maiores veniam porro reiciendis ea molestias exercitationem eum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus commodi tenetur provident optio voluptate quas adipisci saepe. Error soluta quas, ad placeat aperiam facilis natus perferendis reiciendis unde beatae mollitia recusandae laudantium ipsam cum, voluptas ut laboriosam adipisci, illo esse saepe? Architecto a nihil dolorem veniam, nesciunt vitae repellendus voluptatibus labore, deleniti totam alias fugit debitis officiis est autem repudiandae accusantium sed ducimus possimus.</p>
        <hr class="my-3">
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>